
* {margin: 0;padding: 0;box-sizing: border-box;
	font-family: sans-serif;



}

.header{
	width:100%;
	height: 80vh;
	background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('1.jpg');
    position:relative;
    clip-path: polygon(100% 0%,100% 77%,50% 100%,0% 75%,0% 0%);
	}
.header:before{
	content: "";
	position:absolute;
	top:0%;
	bottom: 0%;
	right: 0%;
	left:0%;
	opacity: .3;
	z-index: -1;
	background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%, #16c9f6 100%);
	

}
 .navbar:before{
 	content: "";
	position:absolute;
	top:0%;
	bottom: 0%;
	right: 0%;
	left:0%;
	opacity: .7;
	z-index: -1;
	background:rgb(236, 142, 224);
	

 }
	
.nav-item a{
	color:#fff!important;
	font-weight: bold!important;
}
.nav-item a:hover{
	color:#555!important;
}
.header-section{
	width:100%;
	height:inherit;
	color: white;
	text-align: center;
	position: relative;
}

.center-div{
	width:100%;
	height: auto;
	position:absolute;
	top:42%;
	left:50%;
	
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.center-div p{
	font-size:1.3rem;
	padding: 10px 0px 20px 0px;

	color:#fff;


}

.header-button a:hover{
color:#50d1c0;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
background-color: #fff;
text-decoration: none;

}
.header-button a{

border-radius: 100px;
border:1px solid #fff;
margin: 0 5px;
padding:12px 35px;
color:#fff;
}
.center-div p{
	font-size:1.3rem;
	padding: 10px 0px 20px 0px;
	color:#fff;


}

.header-extradiv{
	width:100%;
	height: auto;
	margin: 40px 0px;
	text-align: center;

}
.extra-div{
	background: #fff;
	border:medium none;
	padding:50px!important;
	border-radius: 3px;
	transition: .3s;


}
.extra-div h2{
	font-size:1rem;
	margin:20px 0px 15px 0px;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;

}
.extra-div:hover{
	
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
transform: translateY(-30px);
 }
 .serviceicon a{
 	margin:50px 0px!important;
 }

.service{
	background: #f7f7f9;
	padding:50px 0px;
	margin-bottom: 50px:;
}
.headings{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}
.names h2{
	color:#2e2e2e;
	font-size: .9rem;
	text-transform: uppercase;
	font-weight: bold;
}
.serviceicon a{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.sericetext p{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
}
.sericetext {
	padding:60px 0px!important;
}
.progress{
	height: 0.6rem!important;
	margin-bottom: 25px!important;
}
.project h2{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}
.project{
	margin: 100px 0px;

}
.project h2{
	font-size: 1.8rem;
	text-align: center;
}
.project p{
	text-align: center;
}
.prising{
	height: auto;
	width:100%;
	background:rgb(182, 231, 208);
}
.card-header,.card-footer {
	font: 1rem;
	padding:10px 0px;
	font-weight:600;
	background:rgb(104, 206, 231)!important;

}
.card-header:hover{
	color: rgb(212, 108, 108);
}

.card-footer:hover{
	color: rgb(212, 108, 108);
}
.card-body{
	text-align: left;
	padding-left: 50px!important;
	border-radius: 100px!important;
	transition: .5s;
}
.card:hover{
 box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  transform: translateY(-20px);
}
.card{

	transition: .3s;
}

.carousel-item{
	margin-top:30px;
}
.box{
	text-align: center;
	position: relative;

}
.box h2{
position: absolute;
top:20px;
font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;



}

.box p{
	position: absolute;
	top:50px;

}




.formma{
	margin: 100px 0px 0px 0px ;
	width: 100%;
	height:100vh;
	padding: 100px 0px;
	position: relative;
}
.form-control{
	margin: 12px 0px;
	border-radius: 30px!important;
}
.textsp{
	border-radius: 10px!important;
}

.btn{ font-weight: 600!important;

    background-color:#fff!important;
       color:#50d1c0!important;
	border-radius:40px!important;
	width: 110px!important;
	border:1px solid #50d1c0!important;
}
.btn:hover{
	background-color:#50d1c0!important;
	color:#fff!important;
	box-shadow: box-shadow: 0 0 20px 0 rgba(0,0,0,0.3)!important;
}
	
.formma:before{
	content: "";
	position:absolute;
	top:0%;
	bottom: 0%;
	right: 0%;
	left:0%;
	
	z-index: -1;
	background: linear-gradient(330deg,#16c9f6 55%,#fff 0%);
	

}
